.header{
    padding: 8px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    color: #EEE7BD;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.302);
    overflow: hidden;
}
.profile_card{
    display: flex;
    align-items: center;

}
.profile_logo{
    width: 40px;
    height: 40px;
    background-size: cover;
}
.profile_card p {
    margin-left: 5px;
    font-weight: 500;
    font-size: 25px;
    align-self: flex-end;
}

.profile_icons{
    width: 60px;
    height: 60px;
}
.profile_icons img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.rating p{

    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    background-color: #2d6073;
    border-radius: 10px;
    padding: 1px 10px;

}
.rating_start{
    font-size: 20px;
}


.progress_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 5px;
    background-color: #2d6073;

    animation-name: progress;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes progress {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
